Repository withstudiocms/studiocms, pull requests merged in 2024-07, with the labels that each got.

#147 [Feat] New Beta Feedback Form and button
  packages/studioCMS/src/integrations/studioCMSDashboard/routes/dashboard/components/BetaFeedback.astro
  packages/studioCMS/src/integrations/studioCMSDashboard/routes/dashboard/pages/index.astro
  packages/studioCMSBlog/index.ts
  playgrounds/node/astro.config.mjs
Labels: enhancement, feat, awaiting review(s)

#149 Fix: Update to reverse when OG information is added to header
  packages/studioCMS/src/integrations/studioCMSDashboard/routes/dashboard/components/BaseHead.astro
Labels: bug, fix, awaiting review(s)

#159 Chore: bulk dep update
  package.json
  packages/ghost-to-studio/package.json
  packages/studioCMS/package.json
  packages/studioCMSBlog/package.json
  playgrounds/cloudflare/package.json
  playgrounds/node/package.json
  pnpm-lock.yaml
  www/docs/package.json
  www/web/package.json
Labels: dependencies, chore

#162 Add astroENVConfig Utility, and migrate namespaceplugin to addVitePluin AIK Util
  packages/studioCMS/src/coreIntegration.ts
  packages/studioCMS/src/integrations/imageHandler/index.ts
  packages/studioCMS/src/integrations/studioCMSDashboard/index.ts
  packages/studioCMS/src/schemas/integrations.ts
  packages/studioCMS/src/utils/astroEnvConfig.ts
Labels: fix, chore, awaiting review(s)

#174 update pnpm and migrate to pnpm catalogs
  .prototools
  README.md
  biome.json
  package.json
  packages/ghost-to-studio/package.json
  packages/studioCMS/package.json
  packages/studioCMS/src/integrations/studioCMSDashboard/routes/dashboard/components/BaseHead.astro
  packages/studioCMS/src/integrations/studioCMSDashboard/routes/dashboard/components/BetaFeedback.astro
  packages/studioCMS/src/integrations/studioCMSDashboard/routes/dashboard/components/Header.astro
  packages/studioCMSBlog/package.json
  playgrounds/cloudflare/package.json
  playgrounds/node/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  www/docs/package.json
  www/web/package.json
Labels: chore, awaiting review(s)

#190 update docs install scripts
  www/docs/src/content/docs/plugins/studiocms-blog.mdx
  www/docs/src/content/docs/start-here/getting-started.mdx
Labels: documentation

#191 add changeset workflow, and update UnoCSS
  .changeset/modern-experts-dream.md
  .github/workflows/changeset.yml
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement, chore, awaiting review(s)

#192 add permissions for changeset action
  .github/workflows/changeset.yml
Labels: fix

#194 Update Changeset workflow to include an autolabel for the [ci]: ready for release PRs
  .github/workflows/changeset.yml
Labels: chore, awaiting review(s)

#196 refix firsttimepr workflow
  .github/workflows/firsttimepr.yml
Labels: fix

#205 Use DB with LibSQL support
  packages/ghost-to-studio/package.json
  playgrounds/cloudflare/package.json
  playgrounds/node/package.json
  pnpm-lock.yaml
  vendored/astrojs-db.tgz
Labels: playgroundDeps, awaiting review(s)

#208 Create changeset snapshot workflow
  .github/workflows/changeset-snapshot.yml
Labels: feat, ci, test

#211 Create Todo issue workflow
  .github/workflows/todo-auto-issue.yml
Labels: feat, awaiting review(s)

#227 add demo analytics
  playgrounds/node/studiocms.config.mjs
Labels: awaiting review(s), playground

#231 Implement new Mailer system on BetaFeedbackForm
  .changeset/neat-bats-think.md
  packages/studioCMS/package.json
  packages/studioCMS/src/constVars.ts
  packages/studioCMS/src/integrations/studioCMSDashboard/routes/dashboard/components/BetaFeedback.astro
  packages/studioCMSBlog/package.json
Labels: enhancement, awaiting review(s)

#239 Remove extra command that is apparently not needed
  package.json
Labels: bug, fix, ci, awaiting review(s)

#238 Update Repo's Readme
  README.md
Labels: documentation, chore, awaiting review(s)

#218 cleanup workflows
  .github/renovate.json
  .github/workflows/biome-linting.yml
  .github/workflows/changeset-snapshot.yml
  .github/workflows/changeset.yml
  .github/workflows/firsttimepr.yml
  .github/workflows/send-ftpr-welcome.yml
  .github/workflows/studiocms-deployment-helper-action.yml
  .github/workflows/todo-auto-issue.yml
  package.json
Labels: chore, awaiting review(s)

#241 [fix] remove extra `]` from the code
  .github/workflows/firsttimepr.yml
Labels: bug, fix, ci
