Repository withstudiocms/studiocms, pull requests merged in 2024-10, with the labels that each got.

#321 Remove TODO comments, small fixes to UI lib
  packages/studiocms_ui/src/components/BaseHead.astro
  packages/studiocms_ui/src/components/Button/Button.css
  packages/studiocms_ui/src/components/Dropdown/dropdown.ts
  packages/studiocms_ui/src/components/Sidebar/helpers.ts
  packages/studiocms_ui/src/components/User/User.astro
  packages/studiocms_ui/src/css/resets.css
Labels: enhancement, fix, chore, awaiting review(s)

#322 [ci] Automate the world (linting)
  .github/workflows/biome-linting.yml
  .github/workflows/format.yml
Labels: feat, chore, ci, awaiting review(s)

#338 Update deployments link helper to use new service account
  .github/workflows/deployments.yml
Labels: ci, awaiting review(s)

#337 Update changesets and changeset action
  .changeset/config.json
  .github/renovate.json
  .github/workflows/changeset-release.yml
  .github/workflows/changeset-snapshot.yml
  .github/workflows/renovate-changesets.yml
  package.json
  pnpm-lock.yaml
Labels: ci, awaiting review(s)

#339 Update changeset-release.yml
  .github/workflows/changeset-release.yml
Labels: awaiting review(s)

#343 Setup Devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
Labels: awaiting review(s)

#350 Update devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
Labels: awaiting review(s)

#353 Start of dev tools
  .changeset/config.json
  .changeset/old-llamas-beam.md
  .github/CODEOWNERS
  packages/studiocms_devapps/.gitignore
  packages/studiocms_devapps/CHANGELOG.md
  packages/studiocms_devapps/LICENSE
  packages/studiocms_devapps/README.md
  packages/studiocms_devapps/assets/preview-embeddedapp.png
  packages/studiocms_devapps/assets/preview-page.png
  packages/studiocms_devapps/assets/preview-toolbar.png
  packages/studiocms_devapps/env.d.ts
  packages/studiocms_devapps/moon.yml
  packages/studiocms_devapps/package.json
  packages/studiocms_devapps/src/apps/libsqlViewer.ts
  packages/studiocms_devapps/src/index.ts
  packages/studiocms_devapps/src/integration.ts
  packages/studiocms_devapps/src/routes/libsql-viewer.astro
  packages/studiocms_devapps/src/schema/appsConfig.ts
  packages/studiocms_devapps/src/schema/index.ts
  packages/studiocms_devapps/src/utils/pathGenerator.ts
  packages/studiocms_devapps/tsconfig.json
  playgrounds/node/astro.config.mts
  playgrounds/node/package.json
  pnpm-lock.yaml
Labels: enhancement, feat, awaiting review(s)

#364 Update dependencies in pnpm catalog
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: awaiting review(s)
