Repository withstudiocms/studiocms, pull requests merged in 2024-11, with the labels that each got.

#370 Add searchable selects, improve selects accessibility
  .changeset/mean-apples-joke.md
  packages/studiocms_ui/src/components.ts
  packages/studiocms_ui/src/components/Button.astro
  packages/studiocms_ui/src/components/SearchSelect.astro
  packages/studiocms_ui/src/components/Select.astro
  packages/studiocms_ui/src/components/index.ts
  packages/studiocms_ui/src/css/sizes.css
  packages/studiocms_ui/src/css/spacings.css
  playgrounds/ui/src/components/SearchSelectTests.astro
  playgrounds/ui/src/pages/index.astro
  www/docs/src/content/docs/customizing/studiocms-ui/components/select-searchable.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/components/select.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/index.mdx
Labels: documentation, awaiting review(s)

#377 Add theme helper, theme toggle component, docs
  .changeset/sharp-zoos-tickle.md
  packages/studiocms_core/src/schemas/config/index.ts
  packages/studiocms_ui/src/components.ts
  packages/studiocms_ui/src/components/ThemeToggle.astro
  packages/studiocms_ui/src/components/index.ts
  packages/studiocms_ui/src/utils/ThemeHelper.ts
  pnpm-lock.yaml
  www/docs/src/components/ThemeHelperScript.astro
  www/docs/src/components/Youtube.astro
  www/docs/src/content/docs/customizing/studiocms-ui/components/theme-helper.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/components/theme-toggle.mdx
  www/web/package.json
Labels: awaiting review(s)

#378 Add Sentry monitoring
  .github/workflows/changeset-release.yml
  .github/workflows/changeset-snapshot.yml
  playgrounds/node/.env.demo
  playgrounds/node/astro.config.mts
  playgrounds/node/package.json
  playgrounds/node/sentry.client.config.js
  playgrounds/ui/astro.config.mts
  playgrounds/ui/package.json
  playgrounds/ui/sentry.client.config.js
  pnpm-lock.yaml
Labels: awaiting review(s)

#380 Update various actions and package info
  .changeset/config.json
  .devcontainer/Dockerfile
  .github/ISSUE_TEMPLATE/new-chore.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json
  .github/workflows/changeset-release.yml
  .github/workflows/changeset-snapshot.yml
  .github/workflows/ci.yml
  .github/workflows/coauthor.yml
  .github/workflows/deployments.yml
  .github/workflows/firsttimepr.yml
  .github/workflows/format.yml
  .github/workflows/renovate-changesets.yml
  .github/workflows/sync.yml
  .github/workflows/todo-auto-issue.yml
  biome.json
  package.json
  pnpm-lock.yaml
Labels: awaiting review(s)

#382 move back to EC
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/docs/astro.config.mts
  www/docs/ec.config.mjs
  www/docs/package.json
  www/docs/src/components/Code.astro
  www/docs/src/components/PackageManagers.astro
  www/docs/src/components/TursoCLI.astro
  www/docs/src/components/pkg.ts
  www/docs/src/content/docs/customizing/studiocms-renderers/markdoc.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/components/dropdown.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/components/modal.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/components/theme-helper.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/components/toast.mdx
  www/docs/src/content/docs/customizing/studiocms-ui/index.mdx
  www/docs/src/content/docs/package-catalog/community-integrations/web-vitals.mdx
  www/docs/src/content/docs/package-catalog/studiocms-integrations/studiocms-blog.mdx
  www/docs/src/content/docs/package-catalog/studiocms-integrations/studiocms-devapps.mdx
  www/docs/src/content/docs/start-here/getting-started.mdx
  www/docs/src/shiki/index.ts
  www/docs/src/shiki/transformers/brackets/themes.ts
  www/docs/src/shiki/transformers/colorizedBrackets.ts
  www/docs/src/shiki/transformers/copyButton.ts
  www/docs/src/shiki/transformers/metaTitle.ts
  www/docs/src/shiki/twoslashRenderers.ts
  www/docs/src/starlightOverrides/Head.astro
  www/docs/src/styles/shiki.css
  www/docs/src/styles/starlight.css
  www/docs/src/styles/twoslash.css
  www/docs/src/util/contributors.config.ts
  www/docs/src/util/getContributors.ts
Labels: awaiting review(s)

#383 Update URLs on LIVE DOCS
  www/docs/src/starlightOverrides/SiteTitle.astro
Labels: awaiting review(s)

#385 Various workflow updates
  .github/renovate.json
  .github/workflows/changeset-snapshot.yml
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/renovate-changesets.yml
  .github/workflows/snapshop-release.yml
  .github/workflows/translation-changesets.yml
  package.json
  pnpm-lock.yaml
Labels: awaiting review(s)

#387 Ensure pkg-pr-new only runs on package changes
  .github/workflows/snapshop-release.yml
Labels: awaiting review(s)

#388 Add mergebot workflow
  .github/workflows/mergebot.yml
Labels: awaiting review(s)

#390 Fix typo in dashboard config reference docs
  www/docs/src/content/docs/config-reference/dashboard.mdx
Labels: documentation, fix, awaiting review(s)

#391 (Core i18n): Translations update from StudioCMS i18n
  .changeset/clever-books-fold.md
  packages/studiocms_core/src/i18n/translations/de.json
  translation-statistics/de.json
Labels: translations

#392 cleanup workflows
  .github/actions/install/action.yml
  .github/workflows/changesets.yml
  .github/workflows/ci-first-time-contributor.yml
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-pr-comment.yml
  .github/workflows/ci-pr-i18n-changeset.yml
  .github/workflows/ci-pr-lunaria-overview.yml
  .github/workflows/ci-pr-snapshots.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-report-lunaria.yml
  .github/workflows/coauthor.yml
  .github/workflows/deployments.yml
  .github/workflows/firsttimepr.yml
  .github/workflows/format.yml
  .github/workflows/labeler.yml
  .github/workflows/lunaria-build.yml
  .github/workflows/mergebot.yml
  .github/workflows/snapshop-release.yml
  .github/workflows/todo-auto-issue.yml
Labels: awaiting review(s)
